body {
    background-color: rgba(0, 125, 0, 0.1);
}

.main-section{
    height: 800px;
    background-color: aqua;
}
.container {
    max-width: 1140px;
    border: black solid 1px;
    margin: 0 auto;
    background-color: yellow;
}