html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

h3 {
    margin-bottom: 20px;
}

body {
    background-color: rgba(0, 125, 0, 0.1);

}

li {
    list-style-type: none; /* Убираем маркеры */
    margin-bottom: 15px;
}

li:last-child {
    margin-bottom: 0;
}


/*.main-section {*/
/*    height: 800px;*/
/*    background-color: #ffffff;*/
/*    padding-top: 16px;*/
/*}*/

.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    background-color: #9daf7c;
    margin-bottom: 20px;
}

.main {
    width: 100%;
    padding: 0 50px;
    max-width: 1400px;
}


.container {
    /*border: black solid 1px;*/
    margin: 0 auto;
    margin-bottom: 20px;
    /*background-color: yellow;*/
}

.nav-menu {
    /*margin-right: 20px;*/
    margin: 0 auto;
}

.nav-menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1300px;

}

.nav-menu__list-item {
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #f8f6f7;
}

.nav-menu__list-item:last-child {
    margin-right: 0;

}


.section-fio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

/*.left-wrapper{*/
/*    background-color: gray;*/
/*}*/

.left-wrapper__img {
    border-radius: 100%; /* Радиус скругления */
    /*border: 3px solid green; !* Параметры рамки *!*/
    box-shadow: 0 0 7px #666; /* Параметры тени */
    height: 210px;
    width: 210px
}

.right-wrapper__title {
    font-size: 50px;
    position: relative;
    color: brown;

}

.right-wrapper__title-vol {
    font-size: 40px;
    text-align: center;
}

.title__hr {
    width: 200px;
    position: absolute;
    margin: 0;
    border: none;
    border-top: 1px solid black;
    left: 180px;
}


.boarder-solid {
    /*border: none;*/
    border-top: 20px solid #d8d1c9;
    margin-bottom: 20px;
}

.content-section__text {
    margin-bottom: 20px;
    line-height: 2;
}


.section {
    display: flex;
    flex-direction: row;
    /*flex-basis: 0;*/
}


.section__content {
    width: 50%;
    /*margin-bottom: 20px;*/
    border-bottom: 1px solid darkslategrey;
    height: auto;
}

.content-section__right {
    width: 50%;
    margin-bottom: 20px;

}

.content-section__empty {
    width: 3%;
    background-color: aquamarine;
}

.code {
    white-space: pre;
    margin-bottom: 20px;
}

.skills__list {
    list-style: url("assets/icons/checkmark.png") inside;
}

.skills__list:last-child {
    margin-bottom: 20px;
}

.course__list-item {
    list-style: circle inside;
}

.course__list-item:last-child {
    margin-bottom: 20px;
}


.project__list-item {
    list-style: lower-latin inside;
}

.project__list-item:last-child {
    margin-bottom: 20px;
}

.last-section {
    border: none;
}

.footer {
    background-color: #9daf7c;
    min-height: 70px;
    /*padding: 20px;*/
}

.footer__container {
    max-width: 1400px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.footer__href {
    display: flex;
    align-items: center;
}
